/**
 * @file
 * Base.
 */

.pseudo-heading {
  @include pseudo-heading-base();
}

a {
  color: color(link);
  text-decoration: none;

  &:not([class]):visited {
    color: color(link-visited);
  }
  &:hover {
    color: color(link-hover);
  }
  &:not([class]):visited:hover {
    color: color(link-visited);
  }
  &:focus {
    outline: 1px dotted color(link);
  }
}
