/**
 * @file
 * Base.
 */


// #############################################################################
// Headings.

.pseudo-heading {
  @include pseudo-heading-base();
}

/**
 * New whitespaces for headings + font sizes & whitespaces for pseudo-headings.
 *
 * This allows any element to be formatted as a heading, e.g.:
 * span.pseudo-heading.h4
 */
@for $i from 1 through 6 {
  h#{$i} {
    @include heading-specifics(h#{$i});
  }
  .h#{$i} {
    @include pseudo-heading(h#{$i});
  }
}


// #############################################################################
// Links.

a {
  color: color(link);
  text-decoration: none;

  &:not([class]):visited {
    color: color(link-visited);
  }
  &:hover {
    color: color(link-hover);
  }
  &:not([class]):visited:hover {
    color: color(link-visited);
  }
  &:focus {
    outline: 1px dotted color(link);
  }
}


// #############################################################################
// Stuffs.

p {
  // I know that Foundation does 0 top- and some bottom margin for paragraphs,
  // but I don't like that.
  margin: 1rem 0;
}