/**
 * @file
 * Components.
 */

// #############################################################################
// Dropdowns.

// Foundation fix - without this, invisible dropdown panes trigger horizontal
// scrollbars on smaller screens.

.dropdown-pane {
  height: 0;
  overflow: hidden;
  width: 0;

  // TODO: do we need spec declarations for tiny / large dropdowns?
  &.is-open {
    height: auto;
    width: $dropdown-width;
  }
}
