/**
 * @file
 * Custom SASS mixins.
 *
 * Mixins vs Extending utility-role Placeholders?
 *
 * Mixins won, placeholders lost so badly that they will not be used. Repetition
 * originating from using mixins will be mitigated by gzip serving the resulting
 * files (gzip works well on repeated patterns, they say).
 *
 * @see
 * http://www.sitepoint.com/avoid-sass-extend/
 * http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/
 *
 * NOTES on basic syntax:
 * @code
 *   @mixin test-mixin--box($bg: gold, $padding: 1em) {
 *     background: $bg;
 *     padding: $padding;
 *
 *     @if $bg == (gold) and $padding == (1em) {
 *       border: 1px solid red;
 *     }
 *     @else if $bg == (gold) and $padding != (1em) {
 *       border: 5px solid red;
 *     }
 *     @else {
 *       border: 3px solid black;
 *     }
 *   }
 * @endcode
 */


// #############################################################################
// Resets.

@mixin bare-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Foundation seems to do this already.
@mixin strip-button {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}


// #############################################################################
// Basic utils.

@mixin hidden {
  // Hiding texts visually, but enabling screen readers to read them.
  // See http://webaim.org/techniques/css/invisiblecontent/ .
  height: 1px;
  left: -9999em;
  top: auto;
  overflow: hidden;
  position: absolute;
  width: 1px;
}


// #############################################################################
// Layout.

@mixin n-clearfix {
  // 'n' stands for the name of the author, @necolas.
  // See http://nicolasgallagher.com/micro-clearfix-hack/ .
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
  // WARNING: This rule interferes with :before and :after pseudo-elements.
  //          Take that into account when applying this anywhere.
}

// Passes control of providing whitespace between groups of contents to
// containing elements (e.g. layouts), by removing possibly disruptive margins
// from the children.
@mixin fit-content {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

@mixin vertical-gap($implemented_as: margin, $which: both, $size: 1) {
  @each $breakpoint, $gap in $vertical-gap-values {
    @include breakpoint($breakpoint) {
      @if $which == (both) {
        #{$implemented_as}-top: $gap * $size;
        #{$implemented_as}-bottom: $gap * $size;
      }
      @else {
        #{$implemented_as}-#{$which}: $gap * $size;
      }
    }
  }
}

// Apply on .row's.
@mixin flexboxify-floated-grid($payload-selector: '.box') {
  .mdz-flexbox & {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::before,
    &::after {
      display: none;
    }

    & > .column {
      display: flex;
      flex: 0 1 auto;
      float: none;

      & > #{$payload-selector} {
        flex: 0 1 auto;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

// #############################################################################
// Typography.

/**
 * Offsets text-containing elements so that texts align better to bounding box.
 *
 * @param $line-height
 *   The prevailing line-height in the current DOM-subtree.
 * @param $pos
 *   Position, either `top` or `bottom`.
 * @param $correction
 *   Number, allows for custom adjustments, which might be neccessary,
 *   depending on the characteristics of the actual font being used.
 */
@mixin line-height-fit($line-height, $pos, $correction: 0, $font-size: 1em) {
  // Take the part of line-height that's above 1, half it (as it is distributed
  // on the top and the bottom), apply correction, then add an em unit on it.
  $offset: ($line-height - 1)*0.5*(1+$correction);
  $offset-w-unit: $offset * $font-size;
  margin-#{$pos}: -$offset-w-unit;
}

// ----------------------------------------------------------------------------
// Headings and pseudo-headings.

@mixin pseudo-heading-base {
  // These things come straight from
  // bower_components/foundation-sites/scss/typography/_base.scss.
  // We might need them to format non-heading elements as headings.
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-color;
  text-rendering: $header-text-rendering;
  margin-top: 0;
  margin-bottom: $header-margin-bottom;
  line-height: $header-lineheight;

  display: block;

  small {
    color: $header-small-font-color;
    line-height: 0;
  }
}

/**
 * Applies such properties that are unique to the chosen heading variant.
 *
 * Also, this is the place where top- and bottom whitespaces are defined.
 *
 * @param $heading
 *   The html selector of the to-be-mimicked heading: e.g. h1, h2, etc.
 */
@mixin heading-specifics($heading) {

  $heading-margin-bottom-modifier: 0.75;

  @if $heading == (h1) {
    margin-top: 0.67em;
    margin-bottom: 0.67em * $heading-margin-bottom-modifier;
  }
  @else if $heading == (h2) {
    margin-top: 0.83em;
    margin-bottom: 0.83em * $heading-margin-bottom-modifier;
  }
  @else if $heading == (h3) {
    margin-top: 1em;
    margin-bottom: 1em * $heading-margin-bottom-modifier;
  }
  @else if $heading == (h4) {
    margin-top: 1.33em;
    margin-bottom: 1.33em * $heading-margin-bottom-modifier;
  }
  @else if $heading == (h5) {
    margin-top: 1.67em;
    margin-bottom: 1.67em * $heading-margin-bottom-modifier;
  }
  @else if $heading == (h6) {
    margin-top: 2.33em;
    margin-bottom: 2.33em * $heading-margin-bottom-modifier;
  }
}

/**
 * Applies font-size and other specifics on a selected heading variant.
 *
 * @param $heading
 *   The html selector of the to-be-mimicked heading: e.g. h1, h2, etc.
 */
@mixin pseudo-heading($heading) {
  // Getting the font size for the requested element.
  // I found the base for this in
  // bower_components/foundation-sites/scss/typography/_base.scss too.
  @each $size, $headers in $header-sizes {
    @include breakpoint($size) {
      $size-defs: map-get($header-sizes, $size);
      font-size: rem-calc(map-get($size-defs, $heading));
    }
  }

  @include heading-specifics($heading);
}

@mixin page-title-appearance {
  @include pseudo-heading-base;
  @include pseudo-heading(h1);

  @include line-height-fit($header-lineheight, top, 1);

  // And this is the hackest hack in the recent history of hacks.
  &::after {
    @include line-height-fit($header-lineheight, top, 1);
    @include vertical-gap(margin, bottom);

    content: '';
    display: block;
    height: 0;
  }
  &:only-child::after {
    margin: 0;
  }
}

@mixin box-title-appearance {
  @include pseudo-heading-base;
  @include pseudo-heading(h4);

  @include line-height-fit($header-lineheight, top, 1);
}

@mixin description-appearance {
  font-size: 0.9rem;
  font-style: italic;

  p {
    line-height: 1.35;
    margin: 0.5em 0;
  }
}


// #############################################################################
// Colors.

@mixin override-link-color($color) {
  & {
    border-bottom: 1px solid rgba($color, 0.5);
    text-decoration: none;
  }
  &,
  &:visited,
  &:hover,
  &:visited:hover {
    color: $color;
  }
  &:hover {
    border-bottom-color: $color;
  }
  &:focus {
    outline: 1px dotted rgba($color, 0.5);
    border-bottom: none;
  }
}

@mixin text-color-invert-zone {
  color: white;

  a:not([class]) {
    @include override-link-color($color: color(link-invert));
  }
}


// #############################################################################
// Debug utils.

// See http://www.sitepoint.com/debugging-sass-maps/ .
// Usage:
// @include debug-map($map-to-inspect);
// then look in the generated .css.
@mixin debug-map($map) {
  @at-root {
    __properties__ {
      @each $key, $value in $map {
        #{$key}: inspect($value);
      }
    }
  }
}
