/**
 * @file
 * Page definition default.
 */

.page__level {
  padding-top: $global-margin*3;
  padding-bottom: $global-margin*3;
}
.page__header,
.page__footer {
  padding-top: $global-margin*2;
  padding-bottom: $global-margin*2;
}
.header__site-name {
  font-weight: 700;
}