/**
 * @file
 * Page definition default.
 */

// Demo mode: keeps the scrollbar on the window, so accordioning experience is
// smoother.
//body {
//  overflow-y: scroll;
//}

.page__header,
.page__footer {
  @include text-color-invert-zone;

  padding-top: $global-margin*2;
  padding-bottom: $global-margin*2;
}
.page__header {
  background: color(prim);
}
.page__footer {
  background: color(bg-dark);
}

.header__site-name {
  @include override-link-color($color: color(link-invert));

  font-weight: 700;
}

.page__title {
  @include page-title-appearance;
}

// Sticky footer.

$footer-height: 120px;
html,
body {
  height: 100%;
}
.page__wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
.footer__room-preserve,
.page__footer {
  height: $footer-height;
}
