/**
 * @file
 * Skin. Colors, effects, look-and-feel.
 */


.page__header,
.page__footer {
  @include text-color-invert-zone;
}
.page__header {
  background: teal;
}
.page__footer {
  background: darkslategray;
}

.column {
  background: rgba(silver, 0.25);
}

.header__site-name {
  @include override-link-color(white);
}

