/**
 * @file
 * Custom SASS variables - after Foundation.
 *
 * NOTE 1:
 * Don't try to override Foundation variables here at all.
 * If you want to modify Foundation variables, it's better to do it in
 * ./_sass-foundation-variables.scss.
 *
 * NOTE 2:
 * You can use Foundation variables in this one, as this file is being
 * included AFTER the Foundation vars file.
 */


// #############################################################################
// Typography.

$line-height-condensed: $global-lineheight*0.9;


// #############################################################################
// Layout.

$page-min-width: 300px;

$visual-width-of-1-column: (
  'wide-m': rem-calc(map-get($breakpoints, wide-m)/$grid-column-count) + map-get($grid-column-responsive-gutter, wide),
  'wide-l': rem-calc(map-get($breakpoints, wide-l)/$grid-column-count) + map-get($grid-column-responsive-gutter, wide),
  'widest': $global-width/$grid-column-count + map-get($grid-column-responsive-gutter, wide),
);
